@import "@settings.scss";

.container {
  @include container();
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  color: $clrLight;
  width: 800px;
  border: 2px solid $clrRed;
  border-radius: 20px;
  padding: 20px 0;
  margin-top: 35px;

  .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    color: $clrLight;
    margin-top: 15px;

    .appliedTeam {
      width: 90%;
      display: flex;
      align-items: center;
      color: $clrLight;
      gap: 35px;

      .lineBox {
        width: 550px;
        .line {
          height: 2px;
          background-color: $clrRed;
        }
      }
    }
  }

  .playerStats {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    color: $clrLight;
    margin-top: 15px;
    border-top: 1px solid $clrRed;
    padding-top: 15px;
    .totalPlayers {
      display: flex;
      gap: 5px;
    }

    .playerStatsBox {
      display: flex;
      gap: 25px;
      .playerBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        .techImg {
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  .matchesStats {
    display: flex;
    align-items: start;
    justify-content: space-around;
    width: 100%;
    color: $clrLight;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid $clrRed;

    .totalMatches {
      display: flex;
      gap: 5px;
    }

    .matchesBox {
      display: flex;
      gap: 25px;
      .matchBox {
        width: 115px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5px;
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    width: 90%;

    .stats {
      .appliedTeam {
        gap: 10px;
        .lineBox {
          max-width: 60%;
        }
      }
    }

    .playerStats {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: space-evenly;

      .playerStatsTitle {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .playerStatsBox {
        height: 100%;
        justify-content: start;
        .playerBox {
          .techImg {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
    .matchesStats {
      flex-direction: column;
      align-items: center;
      .matchesBox {
        .matchBox {
          width: 80px;
        }
      }
    }
  }
}
