@import "../../settings.scss";

.seasonContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .groups {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .group {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 25px 50px;
      font-size: 20px;
      border: 2px solid $clrRed;
      border-radius: 25px;
      width: 350px;

      .groupName {
        display: flex;
        gap: 10px;
      }

      .table {
        width: 100%;
        .team {
          text-align: left;
        }
        .wins {
          text-align: right;
        }
      }
    }
  }

  .gridBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    min-width: 960px;
    padding: 15px 50px 50px 50px;
    border: 2px solid $clrRed;
    border-radius: 20px;
    .grid {
      .row {
        position: relative;
        display: flex;
        justify-content: center;
        gap: 20px;

        .col {
          display: flex;
          flex-direction: column;
          align-items: center;
          .teamBox {
            display: flex;

            .team {
              text-align: center;
              width: 175px;
              border: 1px solid $clrRed;
              border-right: 0;
            }

            .score {
              width: 25px;
              border: 1px solid $clrRed;
              text-align: center;
            }

            .winner {
              text-shadow: 0 0 10px rgba(41, 228, 235, 0.5),
                0 0 10px rgba(41, 228, 235, 0.5),
                0 0 10px rgba(41, 228, 235, 0.5);
            }

            &:last-child .team {
              border-top: 0;
            }

            &:last-child .score {
              border-top: 0;
            }
          }

          .line_1 {
            display: flex;
            height: 20px;
            .col_1 {
              border-right: 1px solid $clrRed;
              border-bottom: 1px solid $clrRed;
            }
            .col_2 {
              border-bottom: 1px solid $clrRed;
            }
          }

          .line_2 {
            display: flex;
            height: 20px;
            border-left: 1px solid $clrRed;
            border-right: 1px solid $clrRed;
          }
        }

        .thirdPlace {
          position: absolute;
          right: 0;
        }

        .teamBox {
          display: flex;

          .team {
            text-align: center;
            width: 175px;
            border: 1px solid $clrRed;
            border-right: 0;
          }

          .score {
            width: 25px;
            border: 1px solid $clrRed;
            text-align: center;
          }

          .winner {
            text-shadow: 0 0 10px rgba(41, 228, 235, 0.5),
              0 0 10px rgba(41, 228, 235, 0.5), 0 0 10px rgba(41, 228, 235, 0.5);
          }

          &:last-child .team {
            border-top: 0;
          }

          &:last-child .score {
            border-top: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .seasonContent {
    flex-direction: column;

    .groups {
      .group {
        width: 100%;
      }
    }

    .gridBox {
      width: 100%;
      min-width: 0;
      padding: 0;
      overflow: scroll;
      justify-content: flex-start;
    }
  }
}
