@import "../../settings.scss";

.container {
  @include container();
  width: 800px;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.selectedList {
  border-bottom: 2px solid $clrRed;
  padding-bottom: 10px;
  margin-bottom: 30px;
  .selectedListTitle {
    text-align: center;
    margin-bottom: 30px;
  }
  .selectedListButtons {
    display: flex;
    justify-content: space-around;
    .submitButton {
      margin-left: 50px;
    }
  }
}

.techInfo {
  display: flex;
  justify-content: center;
  text-align: center;
}

.techInfoBottom {
  margin-top: 20px;
}

.clanInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
  width: 800px;

  .clanInfoBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .managerBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    .managerInput {
      width: 100%;
      margin-top: 10px;
    }
    .addButton {
      cursor: pointer;
      margin-top: 10px;
      width: 50px;
      height: 50px;
      background-color: $clrLight;
      border: 1px solid $clrRed;
      border-radius: 50%;
      color: $clrRed;
      align-self: flex-end;
    }
  }

  .clanInfoTitle {
    margin-bottom: 20px;
  }

  .clanInput {
    display: flex;
    flex-direction: column;
    .clanTag {
      font-size: 25px;
    }
    label {
      margin-bottom: 5px;
      font-size: 20px;
    }
  }

  .clanInputRegion {
    width: 100%;
  }

  .clanInputLogo {
    width: 100%;
    .logoInput {
      display: none;
    }
    .logoDiv {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid $clrRed;
      border-radius: 20px;
      padding: 10px;
      width: 100%;
      min-height: 80px;
      cursor: pointer;

      img {
        max-height: 80px;
        max-width: 80px;
      }
    }
  }

  .clanInputMedia {
    width: 100%;
    .AddTeamBox {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: 80px;
      border: 2px solid $clrRed;
      border-radius: 20px;
      cursor: pointer;
    }
  }
}

.error {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-top: 10px;
  color: $clrRed;

  .errorIcon {
    height: 40px;
  }
}

.addPlayerButton {
  font-size: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.lightBtn {
  color: $clrLight;
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    .clanBox {
      width: 100%;
      .clanInfo {
        width: 100%;
        .clanInfoBox {
          flex-direction: column;
        }
      }
      .addPlayerButton {
        font-size: 15px;
      }
    }
  }
}
