@import "../../../settings.scss";

.input {
  color: $clrDark;
  font-size: 30px;
  border: 2px solid $clrRed;
  border-radius: 20px;
  text-align: center;

  &::placeholder {
    text-align: center;
  }
}
