@import '../../../settings.scss';

.input {
    color: $clr_dark;
    font-size: 30px;
    border: 2px solid $clr_red;
    border-radius: 20px;
    text-align: center;
    
    &::placeholder {
        text-align: center;
    }
}