@import "../../settings.scss";

.container {
  @include container();
  width: 1400px;
  align-items: start;
  justify-content: center;
  gap: 50px;
  color: $clrLight;
  margin-top: 35px;
}

@media (max-width: 576px) {
  .container {
    width: 96%;
    flex-direction: column;
    align-items: center;
  }
}
