@import '../../settings.scss';


.player_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid $clr_red;
    border-radius: 20px;
    padding: 30px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;  
    &:not(:last-child) {
        margin-bottom: 30px;
    }

}

.avatar {
    width: 50px;
    height: 50px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.logo {
    border: 2px solid $clr_red;
    border-radius: 10px;
}

.select_wrapper {
    align-self: flex-end;
    margin-left: 170px;
    .select {
        font-size: 20px;
        background-color: $clr_dark;
        border: 2px solid $clr_red;
        border-radius: 20px;
        text-align: center;
    }
}

.info_wrapper {
    display: flex;
}