@import "@settings.scss";

.playerItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid $clrRed;
  border-radius: 20px;
  padding: 30px;
  min-width: 700px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.logo {
  border: 2px solid $clrRed;
  border-radius: 10px;
}

.selectWrapper {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: end;
  .select {
    font-size: 20px;
    background-color: $clrDark;
    color: $clrLight;
    border: 2px solid $clrRed;
    border-radius: 20px;
    text-align: center;
  }
}

.infoWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  .avatarWrapper {
    display: flex;
    flex-direction: column;
    .flag {
      width: 40px;
      margin-bottom: 10px;
      border: 1px teal solid;
    }
    .avatarLeague {
      width: 40px;
    }
  }
  .avatar {
    width: 50px;
    height: 50px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

@media (max-width: 576px) {
  .playerItem {
    min-width: 100%;
    padding: 10px;
    flex-direction: column;
    align-items: start;
    .infoWrapper {
      .avatarWrapper {
        .flag {
          width: 30px;
        }
        .avatarLeague {
          width: 30px;
        }
      }
    }
    .selectWrapper {
      .select {
        font-size: 15px;
      }
    }
  }
}
