@import "@settings.scss";

.teamManage {
  display: flex;
  width: 600px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px solid $clrRed;
  border-radius: 20px;
  .button {
    margin-top: 20px;
  }
}

.button {
  color: $clrLight;
}

.timerBlock {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 600px;
  border: 2px solid $clrRed;
  border-radius: 20px;
  .timer {
    width: 400px;
  }
}

.dropZone {
  min-height: 138px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  width: 600px;
  border: 2px dashed $clrRed;
  border-radius: 20px;
  font-size: 20px;

  .inClanPlayerBox {
    cursor: pointer;
    &:hover {
      font-style: italic;
    }
  }
}

.tournamentCard:not(:last-child) {
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  .teamManage {
    width: 100%;
  }
  .timerBlock {
    width: 100%;
    .timer {
      width: 100%;
    }
  }
  .dropZone {
    width: 100%;
    padding: 20px 0;
    font-size: 15px;
    .dropZoneText {
      width: 80%;
    }
  }
}
