@import "../../settings.scss";

.playerForm {
  padding: 15px;
  border: 1px solid $clrRed;
  border-radius: 15px;
  margin-top: 10px;
  .playerFormBox {
    .playerFormBoxElement {
      display: flex;
      justify-content: space-between;
      .playerFormLabel {
        display: inline-flex;
        font-size: 20px;
        margin-bottom: 5px;
        width: 120px;
      }
      .playerFormInput {
        margin-top: 10px;
        padding-left: 5px;
        background-color: $clrDark;
        color: $clrLight;
        border: none;
        border-bottom: $clrRed 1px solid;

        &:focus-visible {
          outline: none;
          border: none;
          border-bottom: $clrRed 1px solid;
        }
      }
      .select {
        color: $clrDark;
        width: 220px;
        .option {
          color: $clrDark;
        }
      }
    }
  }
}
