@import '../../settings.scss';

.playerForm {
    padding: 15px;
    border: 1px solid $clr_red;
    border-radius: 15px;
    margin-top: 10px;
    .playerFormBox {
        .playerFormBoxElement {
            display: flex;
            justify-content: space-between;
            .playerFormLabel {
                display: inline-flex;
                font-size: 20px;
                margin-bottom: 5px;
                width: 120px;
            }
            .playerFormInput {
                margin-top: 10px;
                padding-left: 5px;
                background-color: $clr_dark;
                color: $clr_light;
                border: none;
                border-bottom: $clr_red 1px solid;
        
                &:focus-visible {
                    outline: none;
                    border: none;
                    border-bottom: $clr_red 1px solid;
                }
            }
            .select {
                color: $clr_dark;
                width: 220px;
                .option {
                    color: $clr_dark;
                }
            }
        }

    }


}