.double_text span { 
    font-size: 70px; 
    font-weight: 700; 
    color: #fff; 
    position: relative; 
    &::before {
        z-index: -1;
        content: attr(data-title); 
        position: absolute; 
        top: 5px; 
        left: 5px; 
        transform-origin: left; 
        color: red; 
    }
} 
