@import '../../settings.scss';

.container {
    padding-top: 40px;
    @include container();
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.logout_btn {
    margin-top: 30px;
}

.tag_form {
    display: flex;
    flex-direction: column;
    .input_container {
        display: flex;
        align-items: center;
    }
    .search_btn {
        margin-left: 50px;
    }
    .link {
        display: inline-block;
        margin-top: 5px;
        &:hover {
            .inLink {
                color: $clr_red;
            }
        }
    }
}

.request_btn {
    cursor: pointer;
    margin-top: 30px;
    padding: 10px;
    width: 300px;
    text-align: center;
    align-self: center;
    border: 1px solid $clr_red;
    border-radius: 15px;
    transition: padding .3s, width .3s;

    &:hover {
        width: 310px;
        padding: 15px;
    }
}

.players_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    .return_btn {
        margin-top: 30px;
        align-self: center;
    }
}