@import "@settings.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .table {
    width: 500px;
    padding: 25px 50px;
    border: 2px solid $clrRed;
    border-radius: 30px;
    background-image: linear-gradient(200deg, #121212, #525357, #121212);

    .row {
      display: flex;
      gap: 25px;
      align-items: center;
      margin-top: 15px;
      border-bottom: 1px solid $clrRed;
      padding-bottom: 5px;

      .logo {
        height: 50px;
        width: 50px;
        border: 1px solid $clrRed;
        border-radius: 50%;
        object-fit: cover;
      }

      &:hover {
        .col {
          cursor: pointer;
          color: $clrLight;
          text-shadow: 0 0 10px rgba(41, 228, 235, 0.5),
            0 0 10px rgba(41, 228, 235, 0.5), 0 0 10px rgba(41, 228, 235, 0.5);
        }
      }

      .col {
        transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
        color: rgb(20, 216, 206);
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    .table {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 25px;
      .button {
        padding-top: 10px;
        color: $clrLight;
        align-self: center;
      }
    }
  }
}
