@import "settings.scss";

@font-face {
  font-display: swap;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/nunito-sans-v15-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff2")
      format("woff2"),
    url("/fonts/nunito-sans-v15-cyrillic_cyrillic-ext_latin_latin-ext-regular.ttf")
      format("truetype");
}

* {
  font-family: "Nunito Sans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: $clrRed;
  color: $clrLight;
}

body {
  background-color: $clrDark;
}

a {
  text-decoration: none;
}

@media (max-width: 1400px) {
  $containerWidth: 1000px;
}

@media (max-width: 768px) {
  $containerWidth: 600px;
}