@import 'settings.scss';

@font-face {
  font-family: 'RidleyGrotesk';
  src: local('Ridley Grotesk Regular'), local('Ridley-Grotesk-Regular'),
      url('/fonts/RidleyGrotesk-Regular.woff2') format('woff2'),
      url('/fonts/RidleyGrotesk-Regular.woff') format('woff'),
      url('/fonts/RidleyGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'RidleyGrotesk';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $clr_light;
  list-style-type: none;
}

body {
  background-color: $clr_dark;
}

a {
  text-decoration: none;
}

