.infoImages {
  display: flex;
  flex-direction: column;
  align-items: center;
  .infoImg {
    height: 40px;
  }
}

@media (max-width: 576px) {
  .infoImages {
    .infoImg {
      height: 30px;
    }
  }
} 